<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Dwayne The Rock, Paper, Scissors Johnson</title>
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <div id="container">
    <nav>
      <ul>
        <li><a href="/">Home!</a></li>
        <li><a href="/game">Play!</a></li>
      </ul>
    </nav>
    <%= yield %>
  </div>
  </body>
</html>
